*, *:after, *:before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    appearance: none;
    font: inherit;
    border: none;
    list-style: none;
}

img, picture, svg, video{
    display: block;
    max-width: 100%;
}

body{
    min-height: 100vh;
}