@import "./reset.css";

@font-face {
    font-family: "Audiowide";
    src: url("../assets/fonts/Audiowide-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

:root{

    --red: #e90064;
    --background: #131124;
    --purple:  #b4aee8;
    --blue: #9ce1ff;
}

*{
    font-family: "Audiowide", sans-serif;
}

.main-grid{
    
    background-color: var(--background);
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    ". logo .";
    padding: 1%;
    place-items: center;
}

.logo{

    grid-area: logo;
    width: 500px;
}