@import "./reset.css";

@font-face {
    font-family: "Audiowide";
    src: url("../assets/fonts/Audiowide-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

:root{
    --red: #e90064;
    --background: #131124;
    --purple:  #b4aee8;
    --blue: #9ce1ff;
    --transparent: rgba(0, 0, 0, 0);
}

*{
    font-family: "Audiowide", sans-serif;
}

.main-grid{    
    background-color: var(--background);
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    ". logo ."
    "controls . log";
    padding: 1%;
    place-items: center;
    gap: 2%;
}

.logo{
    grid-area: logo;
    width: 500px;
}

.controls-wrapper{    
    display: flex;
    flex-direction: column;
    grid-area: controls;
    gap: 10px;
}

.button-regular{
    font-size: 2rem;
    color: var(--purple);
    padding: 10px;
    background-color: var(--transparent);
    cursor: pointer;
    transition: 300ms ease;
}

.button-special{
    font-size: 2.5rem;
    color: var(--red);
}

.button-regular:hover{
    filter: brightness(150%);
    transition: 300ms ease;
}

.log-wrapper{
    grid-area: log;
    display: grid;
    grid-template-columns: 50px 2fr 50px;
    grid-template-rows: 4rem 50px 2fr 50px;
    grid-template-areas:
    "logTitle logTitle logTitle"
    "log1 log2 log3"
    "log4 log5 log6"
    "log7 log8 log9";
    height: 100%;
    width: 100%;
}

.log-title{
    grid-area: logTitle;
    font-size: 2rem;
    color: var(--purple);
}

.log{
    background-size: contain;
}

.log1{
    grid-area: log1;
    background-image: url("../assets/images/log_corner_1.svg");
    background-repeat: no-repeat;
}

.log2{
    grid-area: log2;
    background-image: url("../assets/images/log_top.svg");
    background-repeat: repeat-x;
}

.log3{
    grid-area: log3;
    background-image: url("../assets/images/log_corner_2.svg");
    background-repeat: no-repeat;
}

.log4{
    grid-area: log4;
    background-image: url("../assets/images/log_left.svg");
    background-repeat: repeat-y;
}

.log5{
    grid-area: log5;
    background-image: url("../assets/images/log_back.svg");
    background-repeat: repeat;
}

.log6{
    grid-area: log6;
    background-image: url("../assets/images/log_right.svg");
    background-repeat: repeat-y;
}

.log7{
    grid-area: log7;
    background-image: url("../assets/images/log_corner_4.svg");
    background-repeat: no-repeat;
}

.log8{
    grid-area: log8;
    background-image: url("../assets/images/log_bottom.svg");
    background-repeat: repeat-x;
}

.log9{
    grid-area: log9;
    background-image: url("../assets/images/log_corner_3.svg");
    background-repeat: no-repeat;
}